ul.nav.navbar-nav
	li#home.navbar_nav_list_item(class=	activeTab === '/' ? 'active' : undefined)
		a.text_link(href="/") Home
	li#about.navbar_nav_list_item.dropdown(class= activeTab === '/about' ? 'active' : undefined)
		a.dropdown-toggle.text_link(href="#" data-toggle="dropdown") About 
			span.caret 
		ul.dropdown-menu
			li
				a(href="#")
					em Bio
			li
				a(href="/resume/VinnySanchezResume.pdf")
					em Resume
			li
				a(href="/about/acknowledgements/") Acknowledgements
	li#portfolio.navbar_nav_list_item(class= activeTab === '/portfolio' ? 'active' : undefined)
		a.dropdown-toggle.text_link(href="#" data-toggle="dropdown") Portfolio 
			span.caret
		ul.dropdown-menu
			li 
				a(href="/portfolio/tag_cloud") Tweet Cloud
			li 
				a(href="#")
					em Project 2
				a(href="#")
					em Project 3
	li#contact.navbar_nav_list_item(class= activeTab === '/contact' ? 'active' : undefined)
		a.text_link(href="/contact/") Contact