extends index 

block navbar
	nav.navbar.navbar-inverse
		#navbar_content_container.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#myNavbar") 
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") tdbts
			#myNavbar.navbar-collapse.collapse(style="height: 1px;")
				ul.nav.navbar-nav
					li.navbar_nav_list_item.active
						a.text_link(href="/") Home
					li.navbar_nav_list_item.dropdown
						a.dropdown-toggle.text_link(href="#" data-toggle="dropdown") About 
							span.caret 
						ul.dropdown-menu
							li
								a(href="#")
									em Bio
							li
								a(href="#")
									em Resume
							li
								a(href="/about/acknowledgements/") Acknowledgements
					li.navbar_nav_list_item
						a.dropdown-toggle.text_link(href="#" data-toggle="dropdown") Portfolio 
							span.caret
						ul.dropdown-menu
							li 
								a(href="/portfolio/tag_cloud") Tweet Cloud
							li 
								a(href="#")
									em Project 2
								a(href="#")
									em Project 3
				ul.nav.navbar-nav.navbar-right 
					li
						a#mail_icon.link_icon(href="#emailModal" role="button" data-toggle="modal")
							span.fa.fa-envelope.fa-2x.bar-icon(data-toggle="tooltip" data-placement="bottom" title="Email")
						#emailModal.modal.fade(tabIndex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
							.modal-dialog
								.modal-content
									.modal-header
										button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
										h4.modal-title Contact Form
									.modal-body
										form#emailForm.form-horizontal(action="#" name="commentform" method="post")
											.form-group
												label.control-label.col-md-4(for="first_name")
												.col-md-6
													input#first_name.form-control(type="text" name="first_name" placeholder="First Name")
											.form-group
												label.control-label.col-md-4(for="last_name") Last Name
												.col-md-6
													input#last_name.form-control(type="text" placeholder="Last Name")
											.form-group
												label.control-label.col-md-4(for="email") Email Address
												#email_input.col-md-6.input-group
													span.input-group-addon @
													input#email.form-control(type="email" placeholder="Email Address")
											.form-group 
												label.control-label.col-md-4(for="comment") Question or Comment
												.col-md-6
													textarea#comments.form-control(name="comments" rows="6" placeholder="Your question or comment here")
											.form-group
												.col-md-6
													button#send_email_btn.btn.btn-primary.pull-right(type="button" value="Submit") Send
					li 
						a#twitter_icon.link_icon(href="#")
							span.fa.fa-twitter.fa-2x.bar-icon(data-toggle="tooltip" data-placement="bottom" title="Twitter")
					li
						a#github_icon.link_icon(href="#")
							span.fa.fa-github.fa-2x.bar-icon(data-toggle="tooltip" data-placement="bottom" title="GitHub")

