html, body, .fullHeightWidth {
	width: 100%;
	height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
	background-color: #333333;
}

.navbar, .navbar-nav {
	margin-bottom: 0px;
}

.navbar_nav_list_item {
	padding-top: 2px;
	padding-bottom: 1px;
}

.bar-icon {
	font-size: 1.6em;
}

#email_input {
	padding-left: 15px;
	padding-right: 15px;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	top-bottom: 75px;
}

/* Landing page button transition */
.buttonHoverFade {
	background-color: #333; 
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.buttonTextFade {
	color: #e1e1e1;
	transition: color .5s;
	-webkit-transition: color .5s;
}

.buttonHoverFade:hover {
	background-color: #e1e1e1;
}

.buttonHoverFade a:hover {
	color: #333;
}