html, body, .fullHeightWidth {
	width: 100%;
	height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
	background-color: #333333;
}

.navbar, .navbar-nav {
	margin-bottom: 0px;
}

.navbar_nav_list_item {
	padding-top: 2px;
	padding-bottom: 1px;
}

.bar-icon {
	font-size: 1.6em;
}

#email_input {
	padding-left: 15px;
	padding-right: 15px;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 75px;
}

.header {
	position: relative;
	height: 200px;
	top: 30%;
}

#landing_page_elements_container {
	text-align: center;
}

#page_content_wrapper {	
	background: url('/images/NY_basketball_ct_OPTIMIZED.jpg') no-repeat center center scroll;
	border-bottom: 1px solid black;
}

#myName {
	font-family: "Impact", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing: 5px;
	font-size: 6em;
	text-shadow: 1px 1px #797979;
}

#career_description_container {
	margin-bottom: 20px;
}	
