body {
	@media(min-width: @screen-md) {
		overflow-y: hidden;
	}
}

#acknowledgements_container {
	margin-top: 25px;
	position: absolute;
	@media(min-width: @screen-md) {
		margin-top: 10px;
		padding: 0px 250px;
	}
}

#page_header_container {
	@media(max-width: @screen-md) {
		margin-bottom: 10px;
	}
}

#page_header {
	@media(max-width: @screen-sm) {
		.h3
	}
}

#scrollable {
	border: 1px solid #CDCDCD;
	background-color: #EEEEEE;
	@media(min-width: @screen-sm) {
		height: 400px;
		overflow: scroll;
	}
}

#resource_introduction {
	margin-top: 35px;
}