#top {
	background-size: cover ! important; 
}

#career_description_container {
	height: 70px;
	@media(min-width: @screen-sm) {
		height: 50px;
	}
}

#careerDescription {
	width: 90%;
	@media(min-width: @screen-sm) {
		width: 100%;
	}
}

.career_description_text {
	text-shadow: 0px 5px 10px black;
}

#welcomeButton {
	-webkit-box-shadow:  1px 1px 10px black;
	 box-shadow:  1px 1px 10px black; 
}

/* animate.min.css */
.customizedAnimation {
	animation-delay: .5s;
	-webkit-animation-delay: .5s;
}

.customizedAnimationCareerDescription {
	animation-duration: 1s;
	-webkit-animation-duration: 1s;	
}

/* Offpage classes for spans */
.offPageLeft {
	position: relative;
	left: -1000px;
	transition: left .75s;
	-webkit-transition: left .75s;
}

.offPageRight {
	position: absolute;
	right: -2000px;
	transition: right .75s;
	-webkit-transition: right .75s;
}

/* Landing page button transition */
.buttonHoverFade {
	background-color: #333; 
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.buttonTextFade {
	color: #e1e1e1;
	transition: color .5s;
	-webkit-transition: color .5s;
}

.buttonHoverFade:hover {
	background-color: #e1e1e1;
}