#webpage_navbar {
	margin-bottom: 0px;
	@media(min-width: @screen-md) {
		.navbar-fixed-top;		
	}
}

.navbar {
	background-color: #333333;
}

.navbar, .navbar-nav {
	margin-bottom: 0px;
}

.navbar_nav_list_item {
	padding-top: 2px;
	padding-bottom: 1px;
}

.bar-icon {
	font-size: 1.6em;
}