body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	position: relative; 
	@media(min-width: @screen-md) {
		padding-top: 50px;	
	}
}

a {
	color: #00B7FF;
}

.inheritSize {
	height: inherit;
	width: inherit;
}

.verticalAlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);	
}

#page_wrapper #page_content_wrapper #page_component_anchor {
	.inheritSize;
}
